body{
    background-color: #1F1F1F;
}
h1{
    font-size: 500;
    color:#AFEEEE;
    text-align: center;

}
select{
    width: 200px;
    padding: 10px; 
    font-size: 20px; 
    border: 1px solid white;
    border-radius: 5px; 
    background-color:#1A1A1A; 
    color: #007BA7; 
    appearance: none; 
    text-align: center;
    align-items: center;
    justify-content: center; 
    display: flex;
    margin-left: 650px;
    margin-bottom: 20px;
    margin-top: 10px;
}
button{
    background-color: #ADD8E6;
    color: black;
    width: 200px; 
    height: 50px; 
    padding: 10px; 
    font-size: 20px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
    margin-left: 650px;
    margin-bottom: 10px;
}
.navbar {
    position: fixed; 
    left: 0; 
    top: 0;
    background-color: black;
    color: #30D5C8;
    height: 100%; 
    width: 200px;
}
.navbar-title{
        padding: 15px 20px;
        color: white;
        text-decoration: none;
        font-size: 20px;
    display:block;
}
.nav-links{
    font-size: 20px;
    color: #30D5C8;
    text-align: left;
    vertical-align: middle;
}